ipykernel>=6.13.0
ipython>=8.4.0
matplotlib>=3.5.2
numpy>=1.22.4
qiskit>=0.36.2
qutip>=4.7.0
scipy>=1.8.1
weylchamber>=0.4.0
notebook>=6.5.2
ipympl>=0.9.2
h5py>=3.7.0
# monodromy>=0.0.1 #use evm9 fork
tqdm>=4.64.1
pylatexenc>=2.10.0
